#joystick-placeholder {
  display: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#joystick-placeholder svg {
  height: auto;
  width: 60%;
}

#active-joystick {
  display: flex;
  visibility: hidden;
  position: absolute;
}

#active-joystick svg {
  width: 100%;
  height: 100%;
}

#pivot {
  filter: drop-shadow(0 0 10px #360B27);
}

#thumb-rest-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
  transform-origin: center center;
}

#thumb-rest {
  width: 100%;
  height: 100%;
}

.joystick--visible {
  visibility: visible !important;
}