/* Defensive CSS to prevent phone touch gestures. Lookin at you, Google Pixel */
#joystick-placeholder,
#active-joystick,
#pivot,
#thumb-rest-container,
#thumb-rest,
#active-joystick svg,
#joystick-placeholder svg {
    touch-action: none;
}

#joystick-placeholder {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10%;
}

#joystick-placeholder svg {
  height: auto;
  width: 63%;
}

#active-joystick {
  display: flex;
  visibility: hidden;
  position: absolute;
}

#active-joystick svg {
  width: 100%;
  height: 100%;
}

#pivot {
  filter: drop-shadow(0 0 10px #360B27);
}

#thumb-rest-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
  transform-origin: center center;
}

#thumb-rest {
  width: 100%;
  height: 100%;
}