* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #04050D;
    color: #fff;
    font-family: sans-serif;
    height: 100svh;
    overflow: hidden;
    user-select: none;
    touch-action: none; /* disable all default gestures for phones like pan, pinch and double tap zoom */
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

#directional-input-area,
#button-input-area,
#button-container,
#header,
#footer,
.user-input-area,
.tv-button {
    touch-action: none; /* Defensive css critical for diabling all default touch gestures on phones like Google Pixel */
}

#directional-input-area {
    position: relative;
    flex-basis: 50%;
    height: 100%;
}

#button-input-area {
    height: 100%;
    display: flex;
    flex-basis: 50%;
    align-items: center;
    justify-content: flex-end;
}

#button-container {
    position: relative;
    height: 100%; /* Use height and not width to respect safe area with aspect ratio */
    max-height: calc(50svw - 20%);
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
    /* border: 2px solid white; */
}

#header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gradient-bloom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 60%));
    width: 100dvw;
    height: 100dvw;
    border-radius: 50%;
    background: linear-gradient(to right, #360B27, #270836);
    filter: blur(10dvw);
    opacity: 0.8;
    z-index: 1;
}

/* Safe areas defined by Netflix's CSS variables and get injected on layout.beginInit() */
.safe-area {
    /* background: linear-gradient(#292638, #16121C); */
    background: #04050D;
    position: absolute;
    top: var(--safe-area-inset-top, 5svh);
    left: var(--safe-area-inset-left, 0svw);
    right: var(--safe-area-inset-right, 0svw);
    bottom: var(--safe-area-inset-bottom, 5svh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-input-area {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* REUSABLE STYLES */
.tv-button {
    all: unset;
    font-family: "Google Sans Flex", sans-serif;
    font-weight: 200;
    letter-spacing: 1.25px;
    border: 1px solid black;
    border-radius: 0.5rem;
    background: linear-gradient(160deg, #383838 0%, #1c1c1c 50%, #131313 100%);
    filter: drop-shadow(3px 3px 0 black);
    user-select: none;
}

.tv-button.active {
    transform: scale(0.97);
    filter: none;
    box-shadow: 3px 3px 3px black inset;
    background-color: #1c1c1c;
}