* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #04050D;
    color: #fff;
    font-family: sans-serif;
    height: 100svh;
    overflow: hidden;
    user-select: none;
    touch-action: none; /* disable all default gestures for phones like pan, pinch and double tap zoom */
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

#joystick-area {
    flex-basis: 45%;
    height: 100%;
    z-index: 1;
    border: 2px solid white;
}

#button-area {
    position: relative;
    height: 100%;
    display: flex;
    flex-basis: 55%;
    align-items: center;
    justify-content: flex-end;
}

#button-container {
    position: relative;
    width: 73%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid white; */
}

#footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Safe areas defined by Netflix's CSS variables and get injected on layout.beginInit() */
.safe-area {
    /* background: linear-gradient(#292638, #16121C); */
    background: #04050D;
    position: absolute;
    top: var(--safe-area-inset-top, 5svh);
    left: var(--safe-area-inset-left, 0svw);
    right: var(--safe-area-inset-right, 0svw);
    bottom: var(--safe-area-inset-bottom, 5svh);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-input-area {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gradient-bloom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 60%));
    width: 100dvw;
    height: 100dvw;
    border-radius: 50%;
    background: linear-gradient(to right, #360B27, #270836);
    filter: blur(10dvw);
    opacity: 0.8;
    z-index: 0;
}