.zone-button {
  position: absolute;
}

.zone-button svg {
  width: 100%;
  height: 100%;
}

.zone-button--singular {
  width: 70%;
  height: 70%;
}

.zone-button--singular > svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ----------------------------------------------------------------------------- */
/* ------------------------------QUADRANTS-------------------------------------- */
/* ----------------------------------------------------------------------------- */

.zone-button--bottom,
.zone-button--top,
.zone-button--left,
.zone-button--right {
    width: 100%;
    height: 50%;
}

/* Bottom (A) */
.zone-button--bottom {
    bottom: -1%;
    left: 0;
}

/* Top (Y) */
.zone-button--top {
    top: -1%;
    left: 0;
    transform: rotate(180deg);
}

/* Left (X) */
.zone-button--left {
    top: -50%;
    left: -1%;
    transform: rotate(90deg);
    transform-origin: bottom left;
}

/* Right (B) */
.zone-button--right {
    top: -50%;
    right: -1%;
    transform: rotate(-90deg);
    transform-origin: bottom right;
}