.zone-button {
  position: absolute;
  z-index: 2;
}

.zone-button--active {
  z-index: 3;
}

.zone-button svg {
  width: 100%;
  height: 100%;
}


/* ----------------------------------------------------------------------------- */
/* -----------------------------ONE BUTTON-------------------------------------- */
/* ----------------------------------------------------------------------------- */

.zone-button--singular {
  width: 70%;
  height: 70%;
}

.zone-button--singular > svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* ----------------------------------------------------------------------------- */
/* ---------------------THREE BUTTON - WEDGE LAYOUT----------------------------- */
/* ----------------------------------------------------------------------------- */

.wedge-button {
  position: absolute;
  z-index: 2;
}

.wedge-button svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wedge-button--bottom {
  transform: rotate(120deg);
  transform-origin: center;
  transform-box: view-box;
  z-index: 3;
}

.wedge-button--left {
  transform: rotate(240deg);
  transform-origin: center;
  transform-box: view-box;
}

.wedge-button--right {
}

/* ----------------------------------------------------------------------------- */
/* ---------------------FOUR BUTTON - DIAMOND LAYOUT---------------------------- */
/* ----------------------------------------------------------------------------- */

.diamond-button {
  position: absolute;
  width: 40%;
  height: auto;
}

.diamond-button svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.diamond-button--top {
  top: 0;
  left: 25%;
}

.diamond-button--bottom {
  bottom: 0;
  left: 25%;
}

.diamond-button--left {
  top: 30%;
  left: -8%;
}

.diamond-button--right {
  top: 30%;
  right: 2%;
}

/* ----------------------------------------------------------------------------- */
/* ---------------------FOUR BUTTON - QUADRANT ZONES---------------------------- */
/* ----------------------------------------------------------------------------- */

.zone-button--bottom,
.zone-button--top,
.zone-button--left,
.zone-button--right {
    width: 100%;
    height: 50%;
    pointer-events: none; /* Ensure quadrant square container does not capture the click events */
}

.zone-button--bottom > svg,
.zone-button--top > svg,
.zone-button--left > svg,
.zone-button--right > svg {
  pointer-events: none; /* Ensure the SVG container does not capture click events (it's a large rectangle around the whole shape, causes Z fighting) */
}

.zone-button--bottom svg path,
.zone-button--top svg path,
.zone-button--left svg path,
.zone-button--right svg path {
  pointer-events: auto; /* Only the actual triangle path should capture click events */
}

/* Bottom (A) */
.zone-button--bottom {
    bottom: -1%;
    left: 0;
}

/* Top (Y) */
.zone-button--top {
    top: -1%;
    left: 0;
    transform: rotate(180deg);
}

/* Left (X) */
.zone-button--left {
    top: -50%;
    left: -1%;
    transform: rotate(90deg);
    transform-origin: bottom left;
}

/* Right (B) */
.zone-button--right {
    top: -50%;
    right: -1%;
    transform: rotate(-90deg);
    transform-origin: bottom right;
}