.zone-button {
  z-index: 2;
}

.zone-button svg {
  width: 100%;
  height: auto;
}

.zone-button--singular {
  width: 70%;
  height: 70%;
}

.zone-button--singular > svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}